<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품수정</title>
</head>

<body>
    <div class="product-wrap">
        <h3>상품수정</h3>
        <hr>
        <form method="post" action="">
            <div>
                <div><lable>상품아이디</lable><input type="text" readonly></div>
                <div><lable>상품명</lable><input type="text" readonly></div>
                <div><lable>수량</lable><input type="text" readonly></div>
                <div><lable>가격</lable><input type="text" readonly></div>
                <div>
                    <button id="cancelBtn">취소</button>
                    <button id="saveBtn">저장</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        editBtn.addEventListener('click', e => {
            location.href = '/products'
        });
        delBtn.addEventListener('click', e => {

        });
        listBtn.addEventListener('click', e => {

        });
    </script>
</body>
</html>